/* css.css */

body {
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 20px;
	background-color: #f0f0f0;
}

div {
	margin: 20px auto;
	width: 80%;
	max-width: 400px;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
	margin-bottom: 20px;
}

input[type='date'] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

hr {
	margin: 20px 0;
}

button {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
